@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



*{
  margin: 0;             
  padding: 0;           
  box-sizing: border-box; 
}

body{
  font-family: "inter";
  background: #0f172a; 
  color: white;      
}

.nav{
  width: 100%;
  height: 70px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

logo h2{
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #38bdf8;
}

.nav-menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu ul li a{
  text-decoration: none;
  color: rgba(255,255,255,0.85);
  font-size: 16px;
  font-weight: 600;
  position: relative;
  transition: 0.3s ease;
}

.nav-menu ul li a::after{
  content: "";            
  position: absolute;     
  left: 0;               
  bottom: -6px;         
  width: 0;               
  height: 2px;            
  background: #38bdf8;    
  transition: 0.3s ease;  
}

.nav-menu ul li a:hover{
  color: #38bdf8; 
}

.nav-menu ul li a:hover::after{
  width: 100%; 
}

@media (max-width: 768px){
  .nav{
    padding: 0 25px; 
}

.nav-menu ul{
    gap: 18px; 

}

.logo h2{
    font-size: 22px; 
  }
}

.welcome-card,
.result,
.price-card,
.quick-card,
.span-card{
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    padding: 24px;
    margin: 30px auto;
    max-width: 900px;
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 25px rgba(0,0,0.25);
}

.welcome-card h2,
.result stron,
.price-card h2,
.quick-card h2,
.span-card h2{
    color: #38bdf8;
    margin-bottom: 12px;
}

.welcome-card p{
  font-size: 16px;
  color: #d1d5db;
}

.result{
    text-align: center;
}

.result img{
    border-radius: 14px;
    margin: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: transfrom 0.3s ease;
}

.result img:hover{
    transform: scale(1.5);
}

.price-card ul{
    list-style: none;
    padding-left: 0;
}

.price-card ul li{
    background: rgba(255,255,255,0.08);
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.price-card adress{
    margin-top: 16px;
    font-style: normal;
    color: #9ca3af;
}

.quick-card ul{
    list-style: none;
}

.quick-card a{
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 600;
    transition: 0.3s;
}

.quick-card a:hover{
    color: #38bdf8;
    text-decoration: underline;
}

.highlight{
    color: #0f172a;
    background: #38bdf8;
    padding: 3px 8px;
    border-radius: 6px;
    font-weight: 700;
}

@media (max-width: 768px){
  .result img{
      width: 100%;
      height: auto;
      margin: 10px 0;
  }
}