@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



*{
  margin: 0;             
  padding: 0;           
  box-sizing: border-box; 
}

body{
  font-family: "inter";
  background: #0f172a; 
  color: white;      
}

.nav{
  width: 100%;
  height: 70px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

logo h2{
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #38bdf8;
}

.nav-menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu ul li a{
  text-decoration: none;
  color: rgba(255,255,255,0.85);
  font-size: 16px;
  font-weight: 600;
  position: relative;
  transition: 0.3s ease;
}

.nav-menu ul li a::after{
  content: "";            
  position: absolute;     
  left: 0;               
  bottom: -6px;         
  width: 0;               
  height: 2px;            
  background: #38bdf8;    
  transition: 0.3s ease;  
}

.nav-menu ul li a:hover{
  color: #38bdf8; 
}

.nav-menu ul li a:hover::after{
  width: 100%; 
}

@media (max-width: 768px){
  .nav{
    padding: 0 25px; 
}

.nav-menu ul{
    gap: 18px; 

}

.logo h2{
    font-size: 22px; 
  }
}

.plan-card{
    background: #ffffff;
    padding:25px;
    border-radius: 14px;
    margin: 30px auto;
    max-width:600px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08)
}

.table-card{ 
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    margin: 30px auto;
    max-width: 900px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.8);
}

.list-card{
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    margin: 30px auto;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.plan-card h2, .table-card h2, .list-card h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.table-card h3{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #555;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

select{
    width: 100;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

select:focus{
    outline: none;
    border-color: #4e90e2;
}

.btn{
    width: 100%;
    padding: 14px;
    background: #4e90e2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover{
    background: #357abd;
}

.output{
    margin-top: 20px;
    padding: 15px;
    background: #4f5f5f;
    border-radius: 8px;
    font-size: 14px;
}

table{ 
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th{
    background: #4a90e2;
    color: white;
    padding: 12px;
}

td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table.t{
    border: 1px solid #ddd;
}

tr:hover{
    background: #f5f9ff;
}

ul{
    padding-left: 25px;
}

ul ul{
    list-style-type: circle;
}

li{
    margin-bottom: 10px;
}